@import "tailwindcss";

@theme {
  --color-accent-primary: var(--accent-primary);
  --color-accent-secondary: var(--accent-secondary);
}

:root {
  color-scheme: dark;
  --accent-primary: #3b82f6;
  /* Default Blue */
  --accent-secondary: #8b5cf6;
  /* Default Purple */
}

body {
  @apply bg-black text-white antialiased overflow-x-hidden;
  font-family: 'Inter', system-ui, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-700 rounded-full hover:bg-zinc-600;
}

::selection {
  @apply bg-white text-black;
}